:root {
  --primary-color: #0a66b2;
  --secondary-color: #fff;
  --text-color: #222;
  --background-color: #f4f2ee;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: var(--background-color);
  border: none;
  padding-bottom: 20px;
}

h2 {
  font-size: 2.75em;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 13px;
  width: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25)
}

.generate-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  /* margin-top: 20px; */
  width: 100%;
}

.generate-filter label {
  font-size: 1.5em;
}

.generate-filter textarea {
  width: 93%;
  min-height: 80px;   
  font-size: 1.35em;
  color: var(--text-color);
  padding: 10px;
  resize: vertical;   
  overflow-y: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.generate-filter button {
  width: 45%;
  height: 35px;
  margin-bottom: 3px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.generate-filter button:hover {
  cursor: pointer;
  width: 46%;
  height: 36px;
  margin-bottom: 2px;
}

.generate-filter button:active {
  width: 44%;
  height: 33px;
  margin-bottom: 5px;
}

p.feedback {
  font-size: 1.25em;
  color: var(--text-color);
  margin: auto;
}
