:root {
  --primary-color: #0a66b2;
  --secondary-color: #fff;
  --text-color: #222;
  --background-color: #f4f2ee;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: var(--background-color);
  border: none;
}

h2 {
  font-size: 2.5em;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 13px;
  width: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25)
}

.generate-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}

.generate-filter label {
  font-size: 1.5em;
}

.generate-filter input {
  min-height: 45px;
  height: auto;
  width: 93%;
  padding: 0 10px;
  font-size: 1.35em;
  color: var(--text-color)
}

.generate-filter button {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.generate-filter button:hover {
  cursor: pointer;
  width: 46%;
  height: 36px;
}

.generate-filter button:active {
  width: 44%;
  height: 33px;
}
