:root {
  --primary-color: #0a66b2;
  --secondary-color: #fff;
  --text-color: #222;
  --background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 300px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-color: var(--background-color);
}

h2 {
  font-size: 2.5em;
  margin: 0.2em 0;
}

.generate-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.generate-filter label {
  font-size: 1.5em;
}

.generate-filter input {
  min-height: 45px;
  height: auto;
  width: 95%;
  padding: 0 10px;
  font-size: 1.35em;
}

.generate-filter button {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  border: none;
}
